.next-popup__submit{
  height: 50px;
  background: #000000;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 48px;
  padding: 12px 124px 14px 125px;
}

.next-popup__submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 530px) {
  .next-popup__submit {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 45px;
    padding: 14px 82px;
  }
}