.img-popup__container {
  background-color: transparent;
  max-width: 75vw;
  max-height: 75vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 530px) {
  .img-popup__container {
    width: 240px;
    height: 299px;
  }
}