.profile__info {
  max-width: 336px;
  min-height: 73px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 584px) {
  .profile__info {
    justify-content: space-around;
  }
}